/ tobechange // !important save indexC.sliml to validate change
-$url = "http://www.ideascomfort.nl/nl/"

-$txtBtn  = ["Ontdek alle selectie",""]
-$linkRay = "#{$url}boutique/rayon_evenement.aspx?urlLangue=fr&nbp=99&pg=0&evenement_id="+$ID[:nl]

-gastart  = "ga('local.send', 'event', 'EncartHP', "
-gaend    = " document.location.pathname);"

-$ga_ray_BG  = "ga('local.send', 'event', 'EncartHP', '"+$TH+"-BG_id-"+$ID[:nl]+"', document.location.pathname);";
-$ga_ray_btn  = "ga('local.send', 'event', 'EncartHP', '"+$TH+"-btn_id-"+$ID[:nl]+"', document.location.pathname);";

-$titre1  = "Muggenlamp met arabeskmotief";
-$sTitre1 = ["Om neer te zetten of op te hangen","Zonder chemicaliën"];

-$titre2  = "28 citronellakaarsen";
-$sTitre2 = ["Set van 28 kaarsen","Zowel buiten als binnen"];

-$titre3  = "Insectenracket";
-$sTitre3 = ["Muggen, wespen, vliegen, horzels","Vouwbaar"];


-$styleIE = '<!--[if lte IE 9]> <style type="text/css"> .pck3{top: 10px;} .title-pck3, .sub1-pck3, .sub2-pck3{left: 690px;} </style> <![endif]-->'