// functions.scss
/// Slightly lighten a color
@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}
$fontSerif: Georgia, "Times New Roman", Times, serif;
$font-stack-arial: Arial, Helvetica, sans-serif;
$font-stack-arial: Arial, Helvetica, sans-serif;
$font-stack-serif: Georgia, Times, "Times New Roman", serif;
$btn-bg : #f00;//#ffff00
$btn-txtColor: #fff;
$animHeight: 494px;

// surcharge
#hpAnimCo{height: $animHeight;}

body, ul {margin: 0;}
ul {list-style: none;}
.centralEvent {
  position: relative;
  width: 964px; height: 465px;
  margin: 0;
  background: url(bg.jpg) no-repeat;
}
/* js globalLink */
#globalLink {
  transform: translateZ(0);  /* activation de l'AM accelera matereil */
  position: absolute; top: 0; left: 0;
  width: 964px; height: $animHeight;
}

* {box-sizing: border-box;}

.centralEvent {
  position: relative; width: 964px; height: $animHeight;
  background: url(bg.jpg) no-repeat 0 0;
  overflow: hidden;
}

.pk1, .pk2, .pk3 {
  // position: absolute; top: -240px; left: 82px; overflow: hidden;
  position: absolute; top: -240px; right: 652px; overflow: hidden;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
  img {display: block;}
}
.title-pk1, .title-pk2, .title-pk3 {
  position: absolute; top: 72px; left: 964px;
  font: bold italic 24px Arial, Helvetica, sans-serif;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.75);
  white-space: nowrap;
  // overflow: hidden;
}
.sub1-pk1, .sub2-pk1, .sub3-pk1,
.sub1-pk2, .sub2-pk2, .sub3-pk2,
.sub1-pk3, .sub2-pk3, .sub3-pk3 {
  &:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }
  position: absolute; left: 964px; height: 24px; padding: 0 10px;
  font: italic normal 16px/24px Arial, Helvetica, sans-serif; color: #FFF;
  background-color: #066C02;
  white-space: nowrap;
  overflow: hidden;
}
.sub1-pk1, .sub1-pk2, .sub1-pk3 {top: 112px; left: 964px; }
.sub2-pk1, .sub2-pk2, .sub2-pk3 {top: 148px; left: 964px; }
.sub3-pk1, .sub3-pk2, .sub3-pk3 {top: 182px; left: 964px; }

//temps
// .pk1 {top: 52px; left: 82px;}
// .pk2 {top: 212px; left: initial;}
// .title-pk1 { left: 338px; }
// .sub1-pk1, .sub2-pk1, .sub3-pk1 {left: 338px; }

.gopk {
  animation: go 6s ease-in-out 0s;
}
.goTitle {
  animation: titles 5s ease-in-out 1s;
}
.goSub1 {
  animation: titles 5s ease-in-out 1.5s;
}
.goSub2 {
  animation: titles 5s ease-in-out 2s;
}
.goSub3 {
  animation-name: titles 5s ease-in-out 3.5s;
}
@keyframes go {
  0% {opacity: 1; top: -240px; }
  10%,90% {opacity: 1; top: 52px; filter: blur(0px); }
  100% {opacity: 0; top: 52px; filter: blur(35px); }
}

@keyframes titles {
  0% {opacity: 1; left: 964px; }
  10%,90% {opacity: 1; left: 338px; filter: blur(0px); }
  100% {opacity: 0; left: 690px; filter: blur(35px); }
}

// price
.price {
  position: absolute; top: 48px; left: 724px;
  width: 148px; height: 148px;
  font: normal 18px $font-stack-arial;
  line-height: 21px;
  text-align: center;
  color: #002D00;
  border: 5px solid #002C00;
  background-color: #FFFF00;
  // background: linear-gradient(160deg, #FFFD03, #009701);
  border-radius: 100%;
  box-shadow: 0 0 10px rgba(0,0,0,0.35);
  // transform: rotate(-8deg);
  b {
    color: #002D00;
    font-size: 26px; font-weight: normal;
    // text-shadow: 0 0 10px rgba(0,0,0,0.5);
    span {line-height: 58px; font-size: 58px; font-weight: bold;}
  }
}
// class generique centrage horizontal et vertical
.v-h-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.w100 {width: 100%;}
// button
.gradient-btn-evtfirst {
  border-radius: 56px;
  background-color: $btn-bg;
  // background-image: linear-gradient(#FF0000, #D45050 50%, #A60000 65%, #A60000);
}
.js-btn {
  position: relative;
  box-sizing: content-box;
  display: inline-block;
  height: 52px;
  margin: 210px 0 0 632px;
  padding: 0 28px;
  text-align: center;
  border: 2px solid #FFFFFF; color: $btn-txtColor;
  font: italic normal 18px $font-stack-arial; text-decoration: none;
  text-shadow: 0px 0px 5px $btn-bg;
  transition: all .8s;

  span {
   line-height: 50px;
   display: inline-block;
   vertical-align: middle;
    + span {
      position: relative; top: 0px;
      // border: 1px solid green;
    }
    > span {
      margin-left: 3px;
      font-size: 20px;
      // border: 1px solid red;
    }

  }
  .arrow {
    vertical-align: middle;
    font-size: inherit;
  }
  .reflet {
    position: absolute; left: 50%; top: 30%;
    width: 90%; height: 24px;
    transform: translate(-50%, -50%);
    border-radius: 16px;
    background: tint( $btn-bg, 99% );
    // background: $btn-bg; // #FFFFFF > si pas gradient + txt blc : illisible
    // background: linear-gradient(tint( $btn-bg, 90% ), $btn-bg);
    background: linear-gradient(to bottom, #FFFFFF, rgba(250,250,250,0) );
    // opacity: 1;
  }
  &:before{
    content: "";
    position: absolute;
    top: -2px; left: -2px;
    width: 100%; height: inherit;
    padding: 2px;
    border-radius: 28px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .45);
    transition: all .8s;
    background-color: rgba(0,0,0,0);
  }
  &:hover {
    background-color: #FF3399;
  }
}

.bottomfade {
  position: absolute; bottom: 0;
  width: 100%; height: 100px;
  background: linear-gradient(rgba(250,250,250,0), #FFFFFF);
}

// .stop_wrapper {
//   position: absolute; top: 0; left: 0;
//   width: 50px; height: 50px; display: inline-block;
//   background-color: deeppink; border-radius: 100px;
//   &:hover{
//     cursor: pointer;
//   }
// }
// .stop_wrapper:hover {
//   & .gopk, & .goTitle, & .goSub1, & .goSub2, & .goSub3{
//     animation-play-state: paused;
//   }
// }