/ tobechange // !important save indexC.sliml to validate change
-$url = "http://www.ideascomfort.de/de/"

-$txtBtn  = ["Entdecken Sie unsere Auswahl",""]
-$linkRay = "#{$url}boutique/rayon_evenement.aspx?urlLangue=fr&nbp=99&pg=0&evenement_id="+$ID[:de]


-gastart  = "ga('local.send', 'event', 'EncartHP', "
-gaend    = " document.location.pathname);"

-$ga_ray_BG  = "ga('local.send', 'event', 'EncartHP', '"+$TH+"-BG_id-"+$ID[:de]+"', document.location.pathname);";
-$ga_ray_btn  = "ga('local.send', 'event', 'EncartHP', '"+$TH+"-btn_id-"+$ID[:de]+"', document.location.pathname);";

-$titre1  = "Insektenlampe Arabesken";
-$sTitre1 = ["Aufstellen oder Aufhängen","Ohne Chemikalien","xxxxxxxxxxxxxxxx"];

-$titre2  = "28 Teelichter mit Zitronengras";
-$sTitre2 = ["Set mit 28 Teelichtern","Drinnen und draußen."];

-$titre3  = "Insekten-Abwehrspray";
-$sTitre3 = ["Fliegende Insekten","Kriechende Insekten"];

-$styleIE = '<!--[if lte IE 9]> <style type="text/css"> .pck3{top: 10px;} .title-pck3, .sub1-pck3, .sub2-pck3{left: 690px;} </style> <![endif]-->'