/ tobechange // !important save indexC.sliml to validate change
-$url = "http://www.ideascomfort.co.uk/uk/"

-$txtBtn  = ["Discover our ","selection"]
-$linkRay = "#{$url}boutique/rayon_evenement.aspx?urlLangue=fr&nbp=99&pg=0&evenement_id="+$ID[:uk]


-gastart  = "ga('local.send', 'event', 'EncartHP', "
-gaend    = " document.location.pathname);"

-$ga_ray_BG  = "ga('local.send', 'event', 'EncartHP', '"+$TH+"-BG_id-"+$ID[:uk]+"', document.location.pathname);";
-$ga_ray_btn  = "ga('local.send', 'event', 'EncartHP', '"+$TH+"-btn_id-"+$ID[:uk]+"', document.location.pathname);";

-$titre1  = "INSECT BARIER Insect Repellents";
-$sTitre1 = ["Flying insects","Crawling insects","500 ml bottle with spray"];

-$titre2  = "Arabesque mosquito lamp";
-$sTitre2 = ["Place on a surface<br/>or hang up","Free of chemical products"];

-$titre3  = "Set of two insect traps";
-$sTitre3 = ["Unbreakable plastic","Effective and<br/>environmentally friendly"];

-$styleIE = '<!--[if lte IE 9]> <style type="text/css"> .pck3{top: 10px;} .title-pck3, .sub1-pck3, .sub2-pck3{left: 690px;} </style> <![endif]-->'