/ tobechange // !important save indexC.sliml to validate change
-$url = "http://www.ideascomfort.co.uk/uk/"

-$txtBtn  = ["Discover our selection",""]
-$linkRay = "#{$url}boutique/rayon_evenement.aspx?urlLangue=fr&nbp=99&pg=0&evenement_id="+$ID[:uk]


-gastart  = "ga('local.send', 'event', 'EncartHP', "
-gaend    = " document.location.pathname);"

-$ga_ray_BG  = "ga('local.send', 'event', 'EncartHP', '"+$TH+"-BG_id-"+$ID[:uk]+"', document.location.pathname);";
-$ga_ray_btn  = "ga('local.send', 'event', 'EncartHP', '"+$TH+"-btn_id-"+$ID[:uk]+"', document.location.pathname);";

-$titre1  = "Arabesque mosquito lamp";
-$sTitre1 = ["Place on a surface or hang up","Free of chemical products","xxxxxxxxxx"];

-$titre2  = "28 citronella candles";
-$sTitre2 = ["Set of 28 candles","Smoke free"];

-$titre3  = "Insect repellent";
-$sTitre3 = ["Crawling insects","Dust mites"];

-$styleIE = '<!--[if lte IE 9]> <style type="text/css"> .pck3{top: 10px;} .title-pck3, .sub1-pck3, .sub2-pck3{left: 690px;} </style> <![endif]-->'