/ tobechange // !important save indexC.sliml to validate change
-$url = "http://www.ideascomfort.be/befr/"

-$txtBtn  = ["Découvrez toute la sélection",""]
-$linkRay = "#{$url}boutique/rayon_evenement.aspx?urlLangue=fr&nbp=99&pg=0&evenement_id="+$ID[:bf]


-gastart  = "ga('local.send', 'event', 'EncartHP', "
-gaend    = " document.location.pathname);"

-$ga_ray_BG  = "ga('local.send', 'event', 'EncartHP', '"+$TH+"-BG_id-"+$ID[:bf]+"', document.location.pathname);"
-$ga_ray_btn  = "ga('local.send', 'event', 'EncartHP', '"+$TH+"-btn_id-"+$ID[:bf]+"', document.location.pathname);"

-$titre1  = "Lampe moustiques arabesque";
-$sTitre1 = ["A poser ou à suspendre","Sans produit chimique"];

-$titre2  = "28 bougies à la citronnelle";
-$sTitre2 = ["Sans fumée","Lot de 28 bougies"];

-$titre3  = "Répulsif insectes";
-$sTitre3 = ["Insectes rampants","Insectes volants"];

-$styleIE = '<!--[if lte IE 9]> <style type="text/css"> .pck3{top: 10px;} .title-pck3, .sub1-pck3, .sub2-pck3{left: 690px;} </style> <![endif]-->'
